service firebase.storage {
    match /b/chat-48985.appspot.com/o  {
    match /{userId}/{timeStamp}/{fileName} {
      allow write: if request.auth.uid == userId;
      allow read;
    }
  }
}
